<label>Which model do you want to use?</label>

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First Section</div>
        <div class="collapsible-body"><p>This is first section.</p></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second Section</div>
        <div class="collapsible-body"><p>This is second section.</p></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third Section</div>
        <div class="collapsible-body"><p>This is third section.</p></div>
    </li>
</ul>>

<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="model1" checked>
            Model 1
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="model2">
            Model 2
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.payment" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>